{% extends 'conference_rooms_reservations/layout.html' %}
{% block conf_room_reservations %}
    <div class="row mb-2">
        <div class="col-md-6">
            {% if messages %}
                {% for message in messages %}
                    <div{% if message.tags == 'error' %}
                        class="alert alert-danger" role="alert"
                    {% else %}
                        class="alert alert-success" role="alert"
                    {% endif %}>{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h2>Please provide new reservation details:</h2>
                    <form action="{% url 'conference_rooms_reservations:add_reservation' %}" method="POST">
                        {% csrf_token %}
                        <div class="col-auto my-1">
                            <label for="room-name">Room name:</label>
                            <p id="room-name">{{ new_reservation_form.room }}</p>
                            <label for="date">Reservation date:</label>
                            <p id="date" class="form-inline">{{ new_reservation_form.date }}</p>
                            <label for="comment">Comment:</label>
                            <p id="comment">{{ new_reservation_form.comment }}</p>
                            <button type="submit" class="btn btn-secondary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock conf_room_reservations %}