{% extends 'contact_box/layout.html' %}
{% block contact_box %}
    <div class="row mb-2">
        <div class="col-md-4">
            {% if messages %}
                {% for message in messages %}
                    <div{% if message.tags == 'error' %}
                        class="alert alert-danger" role="alert"
                    {% else %}
                        class="alert alert-success" role="alert"
                    {% endif %}>{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3>Group:</h3>
                    <form action="{% url 'contact_box:new_group' %}" method="POST">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table class="table">
                            <label for="person-name">Name:</label>
                            <p id="person-name">{{ empty_group.name }}</p>
                            <label for="person-name">Person:</label>
                            <p id="person-name">{{ empty_group.person }}</p>
                            </table>
                        </div>
                        <button type="submit" class="btn btn-secondary">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3>Group list:</h3>
                    <div class="table-responsive">
                        <table class="table" style="display: inline">
                        {% for item in groups %}
                            <tr>
                                <td>{{ item }}</td>
                                <td><a href="{% url 'contact_box:delete_group' id=item.id %}" class="btn btn-outline-danger btn-sm">Remove</a></td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contact_box %}