{% extends 'contact_box/layout.html' %}
{% block contact_box %}
    <div class="row mb-2">
        <div class="col-md-4">
            {% if messages %}
                {% for message in messages %}
                    <div{% if message.tags == 'error' %}
                        class="alert alert-danger" role="alert"
                    {% else %}
                        class="alert alert-success" role="alert"
                    {% endif %}>{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3>Address</h3>
                    <form action="{% url 'contact_box:new_address' %}" method="POST">
                        {% csrf_token %}
                        {{ empty_address }}
{#                        <table class="table">#}
{#                            <label for="person-name">Street:</label>#}
{#                            <p id="person-name">{{ empty_address.street }}</p>#}
{#                            <label for="person-name">Home number:</label>#}
{#                            <p id="person-name">{{ empty_address.home_number }}</p>#}
{#                            <label for="person-name">Flat number:</label>#}
{#                            <p id="person-name">{{ empty_address.flat_number }}</p>#}
{#                            <label for="person-name">City:</label>#}
{#                            <p id="person-name">{{ empty_address.city }}</p>#}
{#                        </table>#}
                        <button type="submit" class="btn btn-secondary">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3>Addresses list:</h3>
                    <table class="table" style="display: inline">
                        {% for item in addresses %}
                            <tr>
                                <td>{{ item }}</td>
                                <td><a href="{% url 'contact_box:delete_address' id=item.id %}" class="btn btn-outline-danger btn-sm">Remove</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock contact_box %}